.dark-mode {
  background-color: #292929;
  color: white;
  transition: "0.1s";
}
.main-body {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 48em) {
  .main-body {
    width: 100%;
    @media (min-width: 48em) 
  }
}